<h1>Datos de Registro</h1>
     <ul>
         <li>E-mail: {{username}} </li>
         <li>Nombre: {{name}} </li>
         <li>Dirección: {{address}} </li>
         <li>Edad: {{age}} </li>
        <li>Teléfono: {{phone}} </li>
    </ul>
    <img src= "/image/{{avatar}} "  alt= {{name}} style="width:6rem;">